logs
*.log
.DS_Store
secrets.env
node_modules
.idea
.DS_Store
.vscode
*.iml
public/
apps/**/translations/**/*
!apps/**/translations/src/
!apps/**/translations/src/**/*
test/_accessibility/tmp/*
pdf-form-submissions/*.pdf
!pdf-form-submissions/pdf-form-submissions-test.pdf
coverage
.nyc_output
anchore-reports/
