<table id="summary" class="table-details">
    <thead>
        <p>{{#t}}pages.confirm.table.headers.contact-details{{/t}}</p>
    </thead>
    <tbody>
    <tr>
        <td>{{#t}}pages.confirm.table.headers.name-text{{/t}}</td>
        <td>
            {{values.name-text}}
        </td>
        <td><a href="name/edit#name-text" class="button" id="name-text-change">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{#t}}pages.confirm.table.headers.email-text{{/t}}</td>
        <td>
            {{values.email-text}}
        </td>
        <td><a href="email/edit#email-text" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    <tr>
      <td>{{#t}}pages.confirm.table.headers.country-text{{/t}}</td>
      <td>
        {{values.country}}
      </td>
      <td><a href="country/edit#country" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    <tr>
        <td>{{#t}}pages.confirm.table.headers.address-text{{/t}}</td>
        <td>
            {{values.address-textarea}}
        </td>
        <td><a href="postcode/edit#postcode" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    </tbody>
</table>
