<table id="summary" class="table-details">
    <thead>
        <p>{{#t}}pages.confirm.table.headers.enquiry-details{{/t}}</p>
    </thead>
    <tbody>
    <tr>
        <td>{{#t}}pages.confirm.table.headers.about-radio{{/t}}</td>
        <td>
            {{values.about-radio}}
        </td>
        <td><a href="about/edit#about-radio" class="button" id="about-radio-change">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    </thead>
    <tbody>
    {{#values.type-radio}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.type-radio{{/t}}</td>
        <td>
            {{values.type-radio}}
        </td>
        <td><a href="type/edit#type-radio" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.type-radio}}

    {{#values.person-text}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.person-text{{/t}}</td>
        <td>
            {{values.person-text}}
        </td>
        <td><a href="person/edit#person-text" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.person-text}}

    {{#values.person-one}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.person-one{{/t}}</td>
        <td>
            {{values.person-one}}
        </td>
        <td><a href="people/edit#person-one" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.person-one}}

    {{#values.person-two}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.person-two{{/t}}</td>
        <td>
            {{values.person-two}}
        </td>
        <td><a href="people/edit#person-two" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.person-two}}

    {{#values.details-text}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.details-text{{/t}}</td>
        <td>
            {{values.details-text}}
        </td>
        <td><a href="details/edit#details-text" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.details-text}}

    {{#values.existing-radio}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.existing-radio{{/t}}</td>
        <td>
            {{values.existing-radio}}
        </td>
        <td><a href="details/edit#existing-radio" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.existing-radio}}

    {{#values.previous-radio}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.previous-radio{{/t}}</td>
        <td>
            {{values.previous-radio}}
        </td>
        <td><a href="details/edit#previous-radio" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.previous-radio}}

    {{#values.additional-text}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.additional-text{{/t}}</td>
        <td>
            {{values.additional-text}}
        </td>
        <td><a href="additional/edit#additional-text" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.additional-text}}

    {{#values.additional-radio}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.additional-radio{{/t}}</td>
        <td>
            {{values.additional-radio}}
        </td>
        <td><a href="additional/edit#additional-radio" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.additional-radio}}
    </tbody>
</table>
