{{#values.how-radio}}
<table id="summary" class="table-details">
    <thead>
        <p>{{#t}}pages.confirm.table.headers.order-details{{/t}}</p>
    </thead>
    <tbody>
    <tr>
        <td>{{#t}}pages.confirm.table.headers.how-radio{{/t}}</td>
        <td>
            {{values.how-radio}}
        </td>
        <td><a href="how/edit#how-radio" class="button" id="how-radio-change">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    </thead>
    <tbody>

    {{#values.online-toggle-text}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.online-toggle-text{{/t}}</td>
        <td>
            {{values.online-toggle-text}}
        </td>
        <td><a href="how/edit#online-toggle-text" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.online-toggle-text}}

    {{#values.telephone-toggle-text}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.telephone-toggle-text{{/t}}</td>
        <td>
            {{values.telephone-toggle-text}}
        </td>
        <td><a href="how/edit#telephone-toggle-text" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.telephone-toggle-text}}

    {{#values.post-toggle-text}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.post-toggle-text{{/t}}</td>
        <td>
            {{values.post-toggle-text}}
        </td>
        <td><a href="how/edit#post-toggle-text" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.post-toggle-text}}

    {{#values.which-radio}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.which-radio{{/t}}</td>
        <td>
            {{values.which-radio}}
        </td>
        <td><a href="which/edit#which-radio" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.which-radio}}

    {{#values.order-number-text}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.order-number-text{{/t}}</td>
        <td>
            {{values.order-number-text}}
        </td>
        <td><a href="which/edit#order-number-text" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.order-number-text}}

    {{#values.when-date}}
    <tr>
        <td>{{#t}}pages.confirm.table.headers.when-date{{/t}}</td>
        <td>
            {{values.when-date}}
        </td>
        <td><a href="when/edit#when-date" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.when-date}}
    </tbody>
</table>
{{/values.how-radio}}
