{{<layout}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.{{section}}.header{{/t}}{{/header}}
{{$content}}

{{<partials-form}}

{{$form}}
  {{#subsection}}
    <p class="form-block">
      {{#t}}pages.{{subsection}}.header{{/t}}
    </p>
  {{/subsection}}
  {{$page-content}}{{/page-content}}
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
