{{<layout}}
  {{$journeyHeader}}
    {{#t}}journey.header{{/t}}
  {{/journeyHeader}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$header}}
    {{header}}
  {{/header}}
  {{$content}}
    <p class="govuk-body">This service is run by the Home Office. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet" >
        <li>{{#t}}accessibility.intro-p2-li1{{/t}}</li>
        <li>{{#t}}accessibility.intro-p2-li2{{/t}}</li>
        <li>{{#t}}accessibility.intro-p2-li3{{/t}}</li>
        <li>{{#t}}accessibility.intro-p2-li4{{/t}}</li>
        <li>{{#t}}accessibility.intro-p2-li5{{/t}}</li>
    </ul>
    <p class="govuk-body">{{#t}}accessibility.intro-p3-pre-link{{/t}} <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://mcmw.abilitynet.org.uk/">{{#t}}accessibility.intro-p3-link{{/t}}</a> {{#t}}accessibility.intro-p3-post-link{{/t}}</p>
    <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>
    <p class="govuk-body">We’re always looking to improve the accessibility of our services. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email:<a href="mailto:{{#t}}accessibility.contact-email-accessibility{{/t}}">{{#t}}accessibility.contact-email-accessibility{{/t}}</a></p>
    <h2 class="govuk-heading-m">{{#t}}accessibility.enforcement-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}accessibility.enforcement-p1-pre-link{{/t}} <a class="govuk-link" rel="noreferrer noopener" target="_blank" href ="https://www.equalityadvisoryservice.com/">{{#t}}accessibility.enforcement-p1-link{{/t}}</a></p>
    <p class="govuk-body">If you are in Northern Ireland and are not happy with how we respond to your complaint you can contact the <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.equalityni.org/Home">Equalities Commission for Northern Ireland</a> who are responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’) in Northern Ireland.</p>
    <h2 class="govuk-heading-m">{{#t}}accessibility.technical-info-header{{/t}}</h2>
    <p class="govuk-body">The Home Office is committed to making its online services accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <h2 class="govuk-heading-m">{{#t}}accessibility.compliance-header{{/t}}</h2>
    <p class="govuk-body">This service is partially compliant with the <a class="govuk-link" rel="noreferrer noopener" target="_blank" href='https://www.w3.org/TR/WCAG22/'>Web Content Accessibility Guidelines (WCAG) 2.2</a> due to the non-compliances listed below.</p>
    <h2 class="govuk-heading-m">{{#t}}accessibility.non-accessible-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}accessibility.non-accessible-p1{{/t}}</p>
    <h3 class="govuk-heading-m">{{#t}}accessibility.non-compliance-header{{/t}}</h3>
    <p class="govuk-body">The session timeout of 30 minutes cannot be changed, and the user is not alerted when it is running out. This is for each individual page of the form, not the form overall. This does not meet WCAG 2.2 – Enough Time.</p>
    <p class="govuk-body">If you find an issue that we have yet to identify, please contact us using one of the routes described in the ‘Reporting accessibility problems with this website’ section of this statement.</p>
    <h3 class="govuk-heading-m">{{#t}}accessibility.disproportionate-burden-header{{/t}}</h3>
    <p class="govuk-body">Not applicable.</p>
    <h3 class="govuk-heading-m">{{#t}}accessibility.outside-scope-header{{/t}}</h3>
    <p class="govuk-body">Not applicable.</p>
    <h2 class="govuk-heading-m">{{#t}}accessibility.preparation-header{{/t}}</h2>
    <p class="govuk-body">This statement was prepared on 1 June 2020. It was last reviewed on 16 September 2024.</p>
    <p class="govuk-body">This website was last tested on 2 April 2024. The test was carried out internally by the Home Office.</p>
    <p class="govuk-body">{{#t}}accessibility.preparation-p3{{/t}}</p>
    {{/content}}
    {{/layout}}
   
