{{<layout}}
  {{$step}}Step 2{{/step}}


  {{$journeyHeader}}
    {{#t}}journey.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$header}}{{#t}}pages.post.header{{/t}}{{/header}}

  {{$content}}

    {{<partials-form}}

      {{$form}}
        <p>
          <span class="postcode">{{values.postcode}}</span>
          <span class="link"><a href="{{baseUrl}}/postcode">{{#t}}pages.address.edit{{/t}}</a></span>
        </p>

        <p class="address">{{#select}}address{{/select}}</p>

        <p><span class="link"><a href="{{baseUrl}}/address-inside">{{#t}}pages.address.cantfind{{/t}}</a></span></p>

        {{#input-submit}}continue{{/input-submit}}
      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
