{{<partials-page}}
  {{$page-content}}
    {{#isDomestic}}
      {{#values.postcode-code}}
        {{> partials-amend-postcode}}
      {{/values.postcode-code}}
      {{#postcodeApiMessageKey}}
        <div class="alert-info">
          <span class="info-message">
            {{#t}}pages.address.postcode-api.{{postcodeApiMessageKey}}{{/t}}
          </span>
        </div>
      {{/postcodeApiMessageKey}}
    {{/isDomestic}}
    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
