{{<layout}}
  {{$step}}Step 2{{/step}}

  {{$journeyHeader}}
    {{#t}}journey.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$header}}{{#t}}pages.post.header{{/t}}{{/header}}

  {{$content}}

    {{<partials-form}}

      {{$form}}

        {{#input-text}}address-text-one{{/input-text}}

        {{#input-text}}address-text-two{{/input-text}}

        {{#input-text}}address-text-three{{/input-text}}

        {{#input-text}}address-text-four{{/input-text}}

        {{#input-text}}address-text-five{{/input-text}}

        {{#input-submit}}continue{{/input-submit}}
      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
