{{<partials-page}}
  {{$page-content}}
    <div class="alert-complete" role="alert">
      <span class="icon icon-complete" role="presentation"></span>
      <div class="alert-message">
        <h1>{{#t}}pages.confirmation.header{{/t}}</h1>
      </div>
    </div>
    <p>{{#t}}pages.confirmation.content-copy-sent{{/t}} <strong>{{values.email-text}}</strong></p>
    <hr>
    <div>
      <h2>{{#t}}pages.confirmation.content-whats-next{{/t}}</h2>
      <p>{{#t}}pages.confirmation.content-respond{{/t}}</p>
      <p>
        {{#t}}pages.confirmation.complete-again{{/t}}
      </p>
      <p><a href="https://eforms.homeoffice.gov.uk/outreach/Feedback.ofml?FormName=certificate_service/">{{#t}}pages.confirmation.content-feedback-link{{/t}}</a> {{#t}}pages.confirmation.content-feedback-time{{/t}} </p>

    </div>
  {{/page-content}}
{{/partials-page}}
