{{<layout}}
{{$step}}Step 2{{/step}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.details.header{{/t}}{{/header}}

{{$content}}

{{<partials-form}}

{{$form}}

{{#input-text}}details-text{{/input-text}}

{{#radio-group}}existing-radio{{/radio-group}}

{{#radio-group}}previous-radio{{/radio-group}}

{{#input-submit}}continue{{/input-submit}}
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
