{{<layout}}
{{$step}}{{/step}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.how.header{{/t}}{{/header}}

{{$content}}

{{<partials-form}}

{{$form}}

<fieldset>
    <legend class="visuallyhidden">
        <span class="form-legend">{{#t}}fields.how-radio.options.online.legend{{/t}}</span>
    </legend>

    <label class="block-label" for="how-radio-online">
        <input
          type="radio"
          name="how-radio"
          id="how-radio-online"
          value="online-text"
          aria-required="true"
          data-toggle="online-toggle-text-desc"
          {{#errors.how-radio-online}} checked="checked"{{/errors.how-radio-online}}
          {{#reason.online-toggle-text}} checked="checked"{{/reason.online-toggle-text}}
          {{#errors.how-radio-online}} aria-describedby="how-radio-online-error" aria-invalid="true"{{/errors.how-radio-online}}
        >
        <span>{{#t}}fields.how-radio.options.online.label{{/t}}</span>
    </label>

    <div id="online-toggle-text-desc" class="js-hidden {{#errors.online-toggle-text}}validation-error{{/errors.online-toggle-text}}">
      <div class="panel-indent">
        {{#input-text}}online-toggle-text{{/input-text}}
      </div>

      <p class="form-hint block-label">{{#t}}fields.online-hint.label{{/t}}</p>
    </div>

</fieldset>

<fieldset>
    <legend class="visuallyhidden">
        <span class="form-legend">{{#t}}fields.how-radio.options.telephone.legend{{/t}}</span>
    </legend>

    <label class="block-label" for="how-radio-telephone">
        <input
          type="radio"
          name="how-radio"
          id="how-radio-telephone"
          value="telephone-text"
          aria-required="true"
          data-toggle="telephone-toggle-text-desc"
          {{#errors.how-radio-telephone}} checked="checked"{{/errors.how-radio-telephone}}
          {{#reason.telephone-toggle-text}} checked="checked"{{/reason.telephone-toggle-text}}
          {{#errors.how-radio-telephone}} aria-describedby="how-radio-telephone-error" aria-invalid="true"{{/errors.how-radio-telephone}}
        >
        <span>{{#t}}fields.how-radio.options.telephone.label{{/t}}</span>
    </label>

    <div id="telephone-toggle-text-desc" class="js-hidden {{#errors.telephone-toggle-text}}validation-error{{/errors.telephone-toggle-text}}">
        <div class="panel-indent">
          {{#input-text}}telephone-toggle-text{{/input-text}}
        </div>

        <div class="form-hint block-label">
          <p>{{#t}}fields.telephone-hint.a{{/t}}</p>
          <p>{{#t}}fields.telephone-hint.b{{/t}}</p>
        </div>
    </div>

</fieldset>

<fieldset>
    <legend class="visuallyhidden">
        <span class="form-legend">{{#t}}fields.how-radio.options.post.legend{{/t}}</span>
    </legend>

    <label class="block-label" for="how-radio-post">
        <input
          type="radio"
          name="how-radio"
          id="how-radio-post"
          value="post-text"
          aria-required="true"
          data-toggle="post-toggle-text-desc"
          {{#errors.how-radio-post}} checked="checked"{{/errors.how-radio-post}}
          {{#reason.post-toggle-text}} checked="checked"{{/reason.post-toggle-text}}
          {{#errors.how-radio-post}} aria-describedby="how-radio-post-error" aria-invalid="true"{{/errors.how-radio-post}}
        >
        <span>{{#t}}fields.how-radio.options.post.label{{/t}}</span>
    </label>

    <div id="post-toggle-text-desc" class="js-hidden {{#errors.post-toggle-text}}validation-error{{/errors.post-toggle-text}}">
      <div class="panel-indent">
        {{#input-text}}post-toggle-text{{/input-text}}
      </div>

      <div class="form-hint block-label">
        <p>{{#t}}fields.post-hint.a{{/t}}</p>
        <p>{{#t}}fields.post-hint.b{{/t}}</p>
      </div>
    </div>

</fieldset>

{{#input-submit}}continue{{/input-submit}}
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
