{{<layout}}
{{$step}}Step 2{{/step}}


{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.post.header{{/t}}{{/header}}

{{$content}}

{{<partials-form}}

{{$form}}
<p>
  <span class="postcode">{{values.postcode}}</span>
  <span class="link"><a href="{{baseUrl}}/postcode">{{#t}}pages.address.edit{{/t}}</a></span>
</p>

<legend class="visuallyhidden">
  <span class="form-label-bold">{{#t}}fields.address.label{{/t}}</span>
</legend>



<div class="validation-error">
  <span id="when-date-error" class="error-message">
    {{#t}}pages.no-postcode.message{{/t}}
</span>
</div>

{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
