{{<layout}}
  {{$step}}Step 2{{/step}}

  {{$journeyHeader}}
    {{#t}}journey.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$header}}{{#t}}pages.post.header{{/t}}{{/header}}

  {{$content}}

    {{<partials-form}}

      {{$form}}
        <p>
          <span class="postcode">{{values.postcode}}</span>
          <span class="link"><a href="{{baseUrl}}/postcode">{{#t}}pages.address.edit{{/t}}</a></span>
        </p>

        <div class="alert-info">
          <span class="info-message">
            {{#t}}pages.no-postcode.postcode-api.{{postcodeApiMessageKey}}{{/t}}
          </span>
        </div>

        {{#input-text}}address-text-one{{/input-text}}

        <legend class=visuallyhidden>
          <span class="form-label-bold">{{#t}}fields.address-text-two.accessibility-label{{/t}}</span>
        </legend>
        {{#input-text}}address-text-two{{/input-text}}

        <legend class=visuallyhidden>
          <span class="form-label-bold">{{#t}}fields.address-text-three.accessibility-label{{/t}}</span>
        </legend>
        {{#input-text}}address-text-three{{/input-text}}

        {{#input-text}}town{{/input-text}}

        {{#input-submit}}continue{{/input-submit}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
