{{<partials-page}}
  {{$page-content}}
    <fieldset id="when-date-group" class="{{#errors.when-date}}validation-error{{/errors.when-date}}">
      {{#errors.when-date}}
        <span id="when-date-error" class="error-message">
          {{errors.when-date.message}}
        </span>
      {{/errors.when-date}}
      <p class="form-hint">{{#t}}fields.when-date.hint{{/t}}</p>
      <div class="form-group form-date">
        {{#input-date}}when-date{{/input-date}}
      </div>
    </fieldset>
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
