{{<layout}}
{{$step}}Step 1 of 3{{/step}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.when.header{{/t}}{{/header}}

{{$content}}

{{<partials-form}}

{{$form}}

<fieldset id="when-date-group" class="panel-indent {{#errors.when-date}}validation-error{{/errors.when-date}}">
    <legend class="visuallyhidden">
        <span class="form-label-bold">{{#t}}fields.when-date.legend{{/t}}</span>
    </legend>

    {{#errors.when-date}}
            <span id="when-date-error" class="error-message">
              {{errors.when-date.message}}
            </span>
    {{/errors.when-date}}

    <div class="form-group form-date">
        {{#input-date}}when-date{{/input-date}}
    </div>
    <p class="form-hint">{{#t}}fields.when-date.hint{{/t}}</p>

</fieldset>

{{#input-submit}}continue{{/input-submit}}
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
