$path: "../img/";

@import "hof/frontend/themes/gov-uk/styles/govuk";

@import "./alert.scss";
@import "./icons.scss";

//autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

ul {
  @extend .text;
  @extend .list;
  @extend .list-bullet;
}

a {
  @extend .govuk-link;
}

header {
  margin-top: 0;
}

.govuk-header__logotype{
  display: inline;
}