$path: "../img/";

@import "hof/frontend/themes/gov-uk/styles/govuk";

@import "./alert.scss";
@import "./icons.scss";
@import "./autocomplete.scss";

ul {
  @extend .list;
  @extend .list-bullet;
}

a {
  @extend .govuk-link;
}

header {
  margin-top: 0;
}

.govuk-header__logotype {
  display: inline;
}
